html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #03A64A;
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
    margin: 0;
    background-color: #1B8C4C;
    border: solid;
    border-color: black;
    border-width: 0px 0px 1px 0px;
}

#app {
    box-sizing: border-box;
    max-width: 960px;
    height: 100%;
    background-color: white;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-family: 'Creepster', cursive;
}
#users{
    box-sizing: border-box;
    background-color: lightgreen;
    flex: 0 0 20%;
    order: 2;
    border: solid;
    border-color: black;
    border-width: 1px 1px 0px 1px;
    height: 95%;
    font-size: 20px;
}
#users ul {
    list-style: none;
}

#messages {
    box-sizing: border-box;
    height: 95%;
    border: solid;
    margin: 0;
    border-color: black;
    border-width: 1px 0px 0px 1px;
    background-color: black;
    color: white;
    flex: 0 0 80%;
    order: 1;
}

#messages ul{
    box-sizing: border-box;
    padding: 0;
    overflow-y: auto;
    vertical-align: bottom;
    list-style: none;
    margin: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Courier New', Courier, monospace;
}

#messages li.otheruser {
    word-wrap: break-word;
    width: 50%;
    max-width: 380px;
    padding: 0.5%;
    background-color: rgba(0,0,255,0.1);;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: left;
    align-self: flex-start;
}

#messages li.server{
    word-wrap: break-word;
    width: 50%;
    max-width: 380px;
    padding: 0.5%;
    background-color: rgba(192,192,192,0.1);;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: left;
    align-self: flex-start;
}

#messages li.username {
    word-wrap: break-word;
    padding: 0.5%;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 50%;
    max-width: 380px;
    background-color: rgba(0,255,0,0.1);
    text-align:left;
    align-self: flex-end;
    font-weight: bolder;
}

#chat-input{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    max-width: 960px;
    width: 100%;
    height: 5%;
    background-color: #0D0D0D;
    border: solid;
    border-color: black;
    flex: 0 0 100%;
    border-width: 1px;
}

#chat-input form{
    height: 100%;
}

#chat-input input {
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    box-sizing: border-box;
    border: solid;
    border-width: 1px;
    border-radius: 25px;
    background-color:whitesmoke;
    font-size: 14px;
    padding: 0;
    margin-left: 5%;
    margin-top: 0.5%;
    padding-left: 2%;
    height: 80%;
}

#chat-input button {
    font-family: 'Creepster', cursive;
    font-size: 18px;
    width: 8%;
    box-sizing: border-box;
    border-radius: 25px;
    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 0;
    margin-top: 0.5%;
    margin-left: 1%;
    background-color: #1B8C4C;
    height: 80%;
    color: white;
}

